 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1873px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 135px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 282px;
  height: 282px;
  margin: 162px auto 0 797px;
}

.u-section-1 .u-image-1 {
  width: 156px;
  height: 255px;
  margin: -293px auto 0 889px;
}

.u-section-1 .u-shape-2 {
  width: 279px;
  height: 279px;
  margin: -248px auto 0 67px;
}

.u-section-1 .u-image-2 {
  width: 312px;
  height: 266px;
  margin: -252px auto 0 61px;
}

.u-section-1 .u-shape-3 {
  width: 293px;
  height: 293px;
  margin: -293px auto 0 444px;
}

.u-section-1 .u-image-3 {
  width: 256px;
  height: 218px;
  margin: -272px auto 0 470px;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: 87px 257px 0 349px;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: -33px 731px 0 39px;
}

.u-section-1 .u-text-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: -33px -354px 0 426px;
}

.u-section-1 .u-shape-4 {
  width: 293px;
  height: 293px;
  margin: 107px auto 0 404px;
}

.u-section-1 .u-image-4 {
  width: 332px;
  height: 264px;
  margin: -285px auto 0;
}

.u-section-1 .u-shape-5 {
  width: 279px;
  height: 279px;
  margin: -271px auto 0 49px;
}

.u-section-1 .u-image-5 {
  width: 280px;
  height: 222px;
  margin: -246px auto 0 70px;
}

.u-section-1 .u-shape-6 {
  width: 282px;
  height: 282px;
  margin: -251px auto 0 779px;
}

.u-section-1 .u-image-6 {
  width: 332px;
  height: 264px;
  margin: -278px auto 0 759px;
}

.u-section-1 .u-text-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: 47px -117px 0 619px;
}

.u-section-1 .u-text-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: -34px 409px 0 -337px;
}

.u-section-1 .u-text-7 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: -30px 36px 0;
}

.u-section-1 .u-shape-7 {
  width: 279px;
  height: 279px;
  margin: 135px auto 0 58px;
}

.u-section-1 .u-image-7 {
  width: 277px;
  height: 220px;
  margin: -254px auto 0 74px;
}

.u-section-1 .u-shape-8 {
  width: 293px;
  height: 293px;
  margin: -243px auto 0 435px;
}

.u-section-1 .u-image-8 {
  width: 233px;
  height: 185px;
  margin: -252px auto 0 478px;
}

.u-section-1 .u-shape-9 {
  width: 282px;
  height: 282px;
  margin: -222px auto 0 800px;
}

.u-section-1 .u-image-9 {
  width: 248px;
  height: 197px;
  margin: -257px auto 0 821px;
}

.u-section-1 .u-text-8 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: 89px 771px 0 25px;
}

.u-section-1 .u-text-9 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: -35px 206px 0 247px;
}

.u-section-1 .u-text-10 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
  text-align: center;
  margin: -33px -506px 60px 274px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 159px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 190px;
    margin-left: 620px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 746px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 44px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 38px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 421px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 170px;
    margin-right: 157px;
    margin-left: 249px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 298px;
    margin-right: 570px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -77px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 426px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 426px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: -270px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: -256px;
    margin-left: 658px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 608px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-left: 519px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-7 {
    margin-top: 92px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 46px;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 402px;
  }

  .u-section-1 .u-shape-9 {
    margin-left: 634px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 692px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 596px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 106px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 592px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 526px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 389px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 426px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 587px;
    margin-right: 47px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -72px;
    margin-right: 350px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -292px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: -265px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: -251px;
    margin-left: 438px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -234px;
    margin-left: 388px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 409px;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 27px;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 383px;
  }

  .u-section-1 .u-shape-9 {
    margin-left: 395px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 472px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 376px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: 1664px;
    margin-left: 220px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 346px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 209px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 246px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 170px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 247px;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 258px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 319px;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 5px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 26px;
  }

  .u-section-1 .u-shape-8 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 307px;
  }

  .u-section-1 .u-shape-9 {
    margin-left: 214px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 292px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 196px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4388px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 104px;
    margin-right: -9px;
    margin-left: 9px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 877px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -610px;
    margin-right: 21px;
    margin-left: 40px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -224px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -749px;
    margin-right: 14px;
    margin-left: 33px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 33px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 77px;
    margin-right: -9px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 376px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 335px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 984px;
    margin-right: 29px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -293px;
    margin-right: 9px;
    margin-left: -1px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: -719px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -250px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-6 {
    margin-top: -699px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: -264px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 238px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 395px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 403px;
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: 90px;
    margin-right: 36px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 37px;
  }

  .u-section-1 .u-shape-8 {
    margin-top: 729px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: -251px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-9 {
    margin-top: -707px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-top: -248px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -408px;
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 946px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -516px;
  }
}